In [1]:
import pandas as pd
import numpy as np

In [2]:
b=np.array([[20,22],[30,31]])
b

array([[20, 22],
       [30, 31]])

In [3]:
df=pd.DataFrame(b)

In [4]:
df

    0   1
0  20  22
1  30  31

In [5]:
s1=pd.Series([10,11])
s2=pd.Series([20,21])

In [6]:
s1 & s2

0    0
1    1
dtype: int64

In [7]:
df=pd.DataFrame([s1,s2])

df

    0   1
0  10  11
1  20  21

In [8]:
d=pd.DataFrame({11:[10,21],1:[20,31]})

In [9]:
d

   11  1
0  10  20
1  21  31

In [10]:
s1=pd.Series(np.arange(1,6,1))
s2=pd.Series(np.arange(6,11,1))

In [11]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [12]:
df=pd.DataFrame({'a':s1,'b':s2})

In [13]:
df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [14]:
s3=pd.Series(np.arange(12,13,1))
s3

0    12
dtype: int32

In [15]:
df=pd.DataFrame({'a':s1,'b':s2,'c':s3})

In [16]:
df

   a   b     c
0  1   6  12.0
1  2   7   NaN
2  3   8   NaN
3  4   9   NaN
4  5  10   NaN

In [17]:
df=pd.DataFrame([[1,2,3,4],[5,6,7,8]],index=['ALPHA','BETA'],columns=['Sheeda','Akhrot','Rana','Kaddu'])

In [18]:
df

       Sheeda  Akhrot  Rana  Kaddu
ALPHA       1       2     3      4
BETA        5       6     7      8

In [19]:
df.shape

(2, 4)

In [20]:
df.columns

Index(['Sheeda', 'Akhrot', 'Rana', 'Kaddu'], dtype='object')

In [21]:
print(df)

       Sheeda  Akhrot  Rana  Kaddu
ALPHA       1       2     3      4
BETA        5       6     7      8

In [22]:
df['Akhrot']

ALPHA    2
BETA     6
Name: Akhrot, dtype: int64

In [23]:
df[['Sheeda','Akhrot']]

       Sheeda  Akhrot
ALPHA       1       2
BETA        5       6

In [24]:
type(df)

pandas.core.frame.DataFrame

In [25]:
#Chutti Chatni

In [26]:
df[:]

       Sheeda  Akhrot  Rana  Kaddu
ALPHA       1       2     3      4
BETA        5       6     7      8

In [27]:
df

       Sheeda  Akhrot  Rana  Kaddu
ALPHA       1       2     3      4
BETA        5       6     7      8

In [28]:
df[1:]

      Sheeda  Akhrot  Rana  Kaddu
BETA       5       6     7      8

In [29]:
df[:2]

       Sheeda  Akhrot  Rana  Kaddu
ALPHA       1       2     3      4
BETA        5       6     7      8

In [30]:
df[:1]

       Sheeda  Akhrot  Rana  Kaddu
ALPHA       1       2     3      4

In [31]:
df[:"BETA"]

       Sheeda  Akhrot  Rana  Kaddu
ALPHA       1       2     3      4
BETA        5       6     7      8

In [32]:
df[:'APLHA']

       Sheeda  Akhrot  Rana  Kaddu
ALPHA       1       2     3      4

In [33]:
df.iloc[[0,1],0]

ALPHA    1
BETA     5
Name: Sheeda, dtype: int64

In [34]:
df.iloc[[1],[0,1]]

      Sheeda  Akhrot
BETA       5       6

In [35]:
df.iloc[[0,1],[0,1]]

       Sheeda  Akhrot
ALPHA       1       2
BETA        5       6

In [36]:
for i in range(0):
    pass

In [37]:
conda install -c conda-forge rise

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\nauma\anaconda3

  added / updated specs:
    - rise

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 4.10.1
  latest version: 4.11.0

Please update conda by running

    $ conda update -n base -c defaults conda

The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.11.0               |   py38haa244fe_0        16.9 MB  conda-forge
    python_abi-3.8             |           2_cp38           4 KB  conda-forge
    rise-5.7.1                 |   py38haa244fe_1         2.6 MB  conda-forge
    ------------------------------------------------------------
                                           Total:        19.5 MB

The following NEW packages will be INSTALLED:

  python_abi         conda-forge/win-64::python_abi-3.8-2_cp38
  rise               conda-forge/win-64::rise-5.7.1-py38haa244fe_1

The following packages will be UPDATED:

  conda              pkgs/main::conda-4.10.1-py38haa95532_1 --> conda-forge::conda-4.11.0-py38haa244fe_0



Downloading and Extracting Packages

conda-4.11.0         | 16.9 MB   |            |   0%
conda-4.11.0         | 16.9 MB   |            |   0%
conda-4.11.0         | 16.9 MB   |            |   1%
conda-4.11.0         | 16.9 MB   |            |   1%
conda-4.11.0         | 16.9 MB   | 1          |   1%
conda-4.11.0         | 16.9 MB   | 1          |   1%
conda-4.11.0         | 16.9 MB   | 1          |   2%
conda-4.11.0         | 16.9 MB   | 1          |   2%
conda-4.11.0         | 16.9 MB   | 1          |   2%
conda-4.11.0         | 16.9 MB   | 2          |   2%
conda-4.11.0         | 16.9 MB   | 2          |   3%
conda-4.11.0         | 16.9 MB   | 3          |   3%
conda-4.11.0         | 16.9 MB   | 3          |   3%
conda-4.11.0         | 16.9 MB   | 3          |   4%
conda-4.11.0         | 16.9 MB   | 4          |   4%
conda-4.11.0         | 16.9 MB   | 4          |   4%
conda-4.11.0         | 16.9 MB   | 4          |   5%
conda-4.11.0         | 16.9 MB   | 4          |   5%
conda-4.11.0         | 16.9 MB   | 5          |   5%
conda-4.11.0         | 16.9 MB   | 5          |   5%
conda-4.11.0         | 16.9 MB   | 5          |   6%
conda-4.11.0         | 16.9 MB   | 6          |   6%
conda-4.11.0         | 16.9 MB   | 6          |   6%
conda-4.11.0         | 16.9 MB   | 6          |   7%
conda-4.11.0         | 16.9 MB   | 7          |   7%
conda-4.11.0         | 16.9 MB   | 7          |   8%
conda-4.11.0         | 16.9 MB   | 7          |   8%
conda-4.11.0         | 16.9 MB   | 8          |   8%
conda-4.11.0         | 16.9 MB   | 8          |   8%
conda-4.11.0         | 16.9 MB   | 8          |   9%
conda-4.11.0         | 16.9 MB   | 8          |   9%
conda-4.11.0         | 16.9 MB   | 9          |   9%
conda-4.11.0         | 16.9 MB   | 9          |  10%
conda-4.11.0         | 16.9 MB   | 9          |  10%
conda-4.11.0         | 16.9 MB   | #          |  10%
conda-4.11.0         | 16.9 MB   | #          |  10%
conda-4.11.0         | 16.9 MB   | #          |  10%
conda-4.11.0         | 16.9 MB   | #          |  11%
conda-4.11.0         | 16.9 MB   | #          |  11%
conda-4.11.0         | 16.9 MB   | #1         |  11%
conda-4.11.0         | 16.9 MB   | #1         |  11%
conda-4.11.0         | 16.9 MB   | #1         |  12%
conda-4.11.0         | 16.9 MB   | #1         |  12%
conda-4.11.0         | 16.9 MB   | #2         |  12%
conda-4.11.0         | 16.9 MB   | #3         |  13%
conda-4.11.0         | 16.9 MB   | #3         |  13%
conda-4.11.0         | 16.9 MB   | #4         |  14%
conda-4.11.0         | 16.9 MB   | #5         |  15%
conda-4.11.0         | 16.9 MB   | #5         |  16%
conda-4.11.0         | 16.9 MB   | #6         |  17%
conda-4.11.0         | 16.9 MB   | #7         |  18%
conda-4.11.0         | 16.9 MB   | #8         |  19%
conda-4.11.0         | 16.9 MB   | #9         |  20%
conda-4.11.0         | 16.9 MB   | ##         |  21%
conda-4.11.0         | 16.9 MB   | ##2        |  22%
conda-4.11.0         | 16.9 MB   | ##3        |  23%
conda-4.11.0         | 16.9 MB   | ##5        |  25%
conda-4.11.0         | 16.9 MB   | ##6        |  26%
conda-4.11.0         | 16.9 MB   | ##7        |  27%
conda-4.11.0         | 16.9 MB   | ###        |  30%
conda-4.11.0         | 16.9 MB   | ###1       |  31%
conda-4.11.0         | 16.9 MB   | ###2       |  33%
conda-4.11.0         | 16.9 MB   | ###4       |  35%
conda-4.11.0         | 16.9 MB   | ###6       |  36%
conda-4.11.0         | 16.9 MB   | ###9       |  39%
conda-4.11.0         | 16.9 MB   | ####       |  41%
conda-4.11.0         | 16.9 MB   | ####2      |  43%
conda-4.11.0         | 16.9 MB   | ####4      |  44%
conda-4.11.0         | 16.9 MB   | ####6      |  46%
conda-4.11.0         | 16.9 MB   | ####8      |  48%
conda-4.11.0         | 16.9 MB   | #####      |  50%
conda-4.11.0         | 16.9 MB   | #####2     |  52%
conda-4.11.0         | 16.9 MB   | #####3     |  54%
conda-4.11.0         | 16.9 MB   | #####5     |  56%
conda-4.11.0         | 16.9 MB   | #####8     |  58%
conda-4.11.0         | 16.9 MB   | ######     |  60%
conda-4.11.0         | 16.9 MB   | ######2    |  62%
conda-4.11.0         | 16.9 MB   | ######4    |  64%
conda-4.11.0         | 16.9 MB   | ######6    |  67%
conda-4.11.0         | 16.9 MB   | ######8    |  68%
conda-4.11.0         | 16.9 MB   | ######9    |  70%
conda-4.11.0         | 16.9 MB   | #######1   |  72%
conda-4.11.0         | 16.9 MB   | #######3   |  73%
conda-4.11.0         | 16.9 MB   | #######4   |  75%
conda-4.11.0         | 16.9 MB   | #######6   |  76%
conda-4.11.0         | 16.9 MB   | #######7   |  78%
conda-4.11.0         | 16.9 MB   | #######9   |  79%
conda-4.11.0         | 16.9 MB   | ########1  |  81%
conda-4.11.0         | 16.9 MB   | ########2  |  83%
conda-4.11.0         | 16.9 MB   | ########4  |  85%
conda-4.11.0         | 16.9 MB   | ########6  |  87%
conda-4.11.0         | 16.9 MB   | ########8  |  88%
conda-4.11.0         | 16.9 MB   | ########9  |  89%
conda-4.11.0         | 16.9 MB   | #########2 |  93%
conda-4.11.0         | 16.9 MB   | #########4 |  94%
conda-4.11.0         | 16.9 MB   | #########5 |  96%
conda-4.11.0         | 16.9 MB   | #########7 |  97%
conda-4.11.0         | 16.9 MB   | #########8 |  98%
conda-4.11.0         | 16.9 MB   | ########## | 100%
conda-4.11.0         | 16.9 MB   | ########## | 100%

python_abi-3.8       | 4 KB      |            |   0%
python_abi-3.8       | 4 KB      | ########## | 100%

rise-5.7.1           | 2.6 MB    |            |   0%
rise-5.7.1           | 2.6 MB    |            |   1%
rise-5.7.1           | 2.6 MB    | 3          |   4%
rise-5.7.1           | 2.6 MB    | 5          |   6%
rise-5.7.1           | 2.6 MB    | 9          |  10%
rise-5.7.1           | 2.6 MB    | #2         |  13%
rise-5.7.1           | 2.6 MB    | #6         |  16%
rise-5.7.1           | 2.6 MB    | ##7        |  27%
rise-5.7.1           | 2.6 MB    | ####       |  40%
rise-5.7.1           | 2.6 MB    | #####9     |  60%
rise-5.7.1           | 2.6 MB    | #######7   |  77%
rise-5.7.1           | 2.6 MB    | #########2 |  93%
rise-5.7.1           | 2.6 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [39]:
conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\nauma\anaconda3

  added / updated specs:
    - conda


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.11.0               |   py38haa95532_0        14.4 MB
    xmltodict-0.12.0           |     pyhd3eb1b0_0          13 KB
    ------------------------------------------------------------
                                           Total:        14.5 MB

The following packages will be SUPERSEDED by a higher-priority channel:

  conda              conda-forge::conda-4.11.0-py38haa244f~ --> pkgs/main::conda-4.11.0-py38haa95532_0

The following packages will be DOWNGRADED:

  xmltodict                                     0.12.0-py_0 --> 0.12.0-pyhd3eb1b0_0



Downloading and Extracting Packages

conda-4.11.0         | 14.4 MB   |            |   0%
conda-4.11.0         | 14.4 MB   |            |   0%
conda-4.11.0         | 14.4 MB   |            |   1%
conda-4.11.0         | 14.4 MB   |            |   1%
conda-4.11.0         | 14.4 MB   |            |   1%
conda-4.11.0         | 14.4 MB   |            |   1%
conda-4.11.0         | 14.4 MB   |            |   1%
conda-4.11.0         | 14.4 MB   | 1          |   1%
conda-4.11.0         | 14.4 MB   | 1          |   1%
conda-4.11.0         | 14.4 MB   | 1          |   2%
conda-4.11.0         | 14.4 MB   | 2          |   2%
conda-4.11.0         | 14.4 MB   | 2          |   2%
conda-4.11.0         | 14.4 MB   | 2          |   2%
conda-4.11.0         | 14.4 MB   | 2          |   2%
conda-4.11.0         | 14.4 MB   | 2          |   3%
conda-4.11.0         | 14.4 MB   | 2          |   3%
conda-4.11.0         | 14.4 MB   | 3          |   3%
conda-4.11.0         | 14.4 MB   | 3          |   3%
conda-4.11.0         | 14.4 MB   | 3          |   3%
conda-4.11.0         | 14.4 MB   | 3          |   3%
conda-4.11.0         | 14.4 MB   | 3          |   3%
conda-4.11.0         | 14.4 MB   | 3          |   4%
conda-4.11.0         | 14.4 MB   | 3          |   4%
conda-4.11.0         | 14.4 MB   | 3          |   4%
conda-4.11.0         | 14.4 MB   | 3          |   4%
conda-4.11.0         | 14.4 MB   | 4          |   4%
conda-4.11.0         | 14.4 MB   | 4          |   4%
conda-4.11.0         | 14.4 MB   | 4          |   4%
conda-4.11.0         | 14.4 MB   | 4          |   5%
conda-4.11.0         | 14.4 MB   | 4          |   5%
conda-4.11.0         | 14.4 MB   | 4          |   5%
conda-4.11.0         | 14.4 MB   | 4          |   5%
conda-4.11.0         | 14.4 MB   | 5          |   5%
conda-4.11.0         | 14.4 MB   | 5          |   5%
conda-4.11.0         | 14.4 MB   | 5          |   6%
conda-4.11.0         | 14.4 MB   | 5          |   6%
conda-4.11.0         | 14.4 MB   | 5          |   6%
conda-4.11.0         | 14.4 MB   | 6          |   6%
conda-4.11.0         | 14.4 MB   | 6          |   6%
conda-4.11.0         | 14.4 MB   | 6          |   6%
conda-4.11.0         | 14.4 MB   | 6          |   7%
conda-4.11.0         | 14.4 MB   | 6          |   7%
conda-4.11.0         | 14.4 MB   | 6          |   7%
conda-4.11.0         | 14.4 MB   | 6          |   7%
conda-4.11.0         | 14.4 MB   | 7          |   7%
conda-4.11.0         | 14.4 MB   | 7          |   7%
conda-4.11.0         | 14.4 MB   | 7          |   8%
conda-4.11.0         | 14.4 MB   | 7          |   8%
conda-4.11.0         | 14.4 MB   | 7          |   8%
conda-4.11.0         | 14.4 MB   | 8          |   8%
conda-4.11.0         | 14.4 MB   | 8          |   8%
conda-4.11.0         | 14.4 MB   | 8          |   8%
conda-4.11.0         | 14.4 MB   | 8          |   8%
conda-4.11.0         | 14.4 MB   | 8          |   8%
conda-4.11.0         | 14.4 MB   | 8          |   9%
conda-4.11.0         | 14.4 MB   | 8          |   9%
conda-4.11.0         | 14.4 MB   | 8          |   9%
conda-4.11.0         | 14.4 MB   | 8          |   9%
conda-4.11.0         | 14.4 MB   | 9          |   9%
conda-4.11.0         | 14.4 MB   | 9          |   9%
conda-4.11.0         | 14.4 MB   | 9          |  10%
conda-4.11.0         | 14.4 MB   | 9          |  10%
conda-4.11.0         | 14.4 MB   | 9          |  10%
conda-4.11.0         | 14.4 MB   | 9          |  10%
conda-4.11.0         | 14.4 MB   | 9          |  10%
conda-4.11.0         | 14.4 MB   | #          |  10%
conda-4.11.0         | 14.4 MB   | #          |  10%
conda-4.11.0         | 14.4 MB   | #          |  10%
conda-4.11.0         | 14.4 MB   | #          |  11%
conda-4.11.0         | 14.4 MB   | #          |  11%
conda-4.11.0         | 14.4 MB   | #          |  11%
conda-4.11.0         | 14.4 MB   | #1         |  11%
conda-4.11.0         | 14.4 MB   | #1         |  11%
conda-4.11.0         | 14.4 MB   | #1         |  11%
conda-4.11.0         | 14.4 MB   | #1         |  11%
conda-4.11.0         | 14.4 MB   | #1         |  11%
conda-4.11.0         | 14.4 MB   | #1         |  12%
conda-4.11.0         | 14.4 MB   | #1         |  12%
conda-4.11.0         | 14.4 MB   | #1         |  12%
conda-4.11.0         | 14.4 MB   | #1         |  12%
conda-4.11.0         | 14.4 MB   | #2         |  12%
conda-4.11.0         | 14.4 MB   | #2         |  12%
conda-4.11.0         | 14.4 MB   | #2         |  12%
conda-4.11.0         | 14.4 MB   | #2         |  12%
conda-4.11.0         | 14.4 MB   | #2         |  13%
conda-4.11.0         | 14.4 MB   | #2         |  13%
conda-4.11.0         | 14.4 MB   | #2         |  13%
conda-4.11.0         | 14.4 MB   | #2         |  13%
conda-4.11.0         | 14.4 MB   | #2         |  13%
conda-4.11.0         | 14.4 MB   | #3         |  13%
conda-4.11.0         | 14.4 MB   | #3         |  13%
conda-4.11.0         | 14.4 MB   | #3         |  13%
conda-4.11.0         | 14.4 MB   | #3         |  14%
conda-4.11.0         | 14.4 MB   | #3         |  14%
conda-4.11.0         | 14.4 MB   | #3         |  14%
conda-4.11.0         | 14.4 MB   | #3         |  14%
conda-4.11.0         | 14.4 MB   | #3         |  14%
conda-4.11.0         | 14.4 MB   | #4         |  14%
conda-4.11.0         | 14.4 MB   | #4         |  14%
conda-4.11.0         | 14.4 MB   | #4         |  15%
conda-4.11.0         | 14.4 MB   | #4         |  15%
conda-4.11.0         | 14.4 MB   | #4         |  15%
conda-4.11.0         | 14.4 MB   | #5         |  15%
conda-4.11.0         | 14.4 MB   | #5         |  15%
conda-4.11.0         | 14.4 MB   | #5         |  15%
conda-4.11.0         | 14.4 MB   | #5         |  15%
conda-4.11.0         | 14.4 MB   | #5         |  15%
conda-4.11.0         | 14.4 MB   | #5         |  16%
conda-4.11.0         | 14.4 MB   | #5         |  16%
conda-4.11.0         | 14.4 MB   | #5         |  16%
conda-4.11.0         | 14.4 MB   | #5         |  16%
conda-4.11.0         | 14.4 MB   | #6         |  16%
conda-4.11.0         | 14.4 MB   | #6         |  16%
conda-4.11.0         | 14.4 MB   | #6         |  16%
conda-4.11.0         | 14.4 MB   | #6         |  16%
conda-4.11.0         | 14.4 MB   | #6         |  16%
conda-4.11.0         | 14.4 MB   | #6         |  17%
conda-4.11.0         | 14.4 MB   | #6         |  17%
conda-4.11.0         | 14.4 MB   | #6         |  17%
conda-4.11.0         | 14.4 MB   | #6         |  17%
conda-4.11.0         | 14.4 MB   | #6         |  17%
conda-4.11.0         | 14.4 MB   | #7         |  17%
conda-4.11.0         | 14.4 MB   | #7         |  17%
conda-4.11.0         | 14.4 MB   | #7         |  17%
conda-4.11.0         | 14.4 MB   | #7         |  17%
conda-4.11.0         | 14.4 MB   | #7         |  18%
conda-4.11.0         | 14.4 MB   | #7         |  18%
conda-4.11.0         | 14.4 MB   | #7         |  18%
conda-4.11.0         | 14.4 MB   | #7         |  18%
conda-4.11.0         | 14.4 MB   | #7         |  18%
conda-4.11.0         | 14.4 MB   | #8         |  18%
conda-4.11.0         | 14.4 MB   | #8         |  18%
conda-4.11.0         | 14.4 MB   | #8         |  18%
conda-4.11.0         | 14.4 MB   | #8         |  19%
conda-4.11.0         | 14.4 MB   | #8         |  19%
conda-4.11.0         | 14.4 MB   | #8         |  19%
conda-4.11.0         | 14.4 MB   | #8         |  19%
conda-4.11.0         | 14.4 MB   | #8         |  19%
conda-4.11.0         | 14.4 MB   | #9         |  19%
conda-4.11.0         | 14.4 MB   | #9         |  19%
conda-4.11.0         | 14.4 MB   | #9         |  19%
conda-4.11.0         | 14.4 MB   | #9         |  19%
conda-4.11.0         | 14.4 MB   | #9         |  19%
conda-4.11.0         | 14.4 MB   | #9         |  20%
conda-4.11.0         | 14.4 MB   | #9         |  20%
conda-4.11.0         | 14.4 MB   | #9         |  20%
conda-4.11.0         | 14.4 MB   | #9         |  20%
conda-4.11.0         | 14.4 MB   | ##         |  20%
conda-4.11.0         | 14.4 MB   | ##         |  20%
conda-4.11.0         | 14.4 MB   | ##         |  20%
conda-4.11.0         | 14.4 MB   | ##         |  20%
conda-4.11.0         | 14.4 MB   | ##         |  20%
conda-4.11.0         | 14.4 MB   | ##         |  21%
conda-4.11.0         | 14.4 MB   | ##         |  21%
conda-4.11.0         | 14.4 MB   | ##         |  21%
conda-4.11.0         | 14.4 MB   | ##         |  21%
conda-4.11.0         | 14.4 MB   | ##         |  21%
conda-4.11.0         | 14.4 MB   | ##1        |  21%
conda-4.11.0         | 14.4 MB   | ##1        |  21%
conda-4.11.0         | 14.4 MB   | ##1        |  21%
conda-4.11.0         | 14.4 MB   | ##1        |  22%
conda-4.11.0         | 14.4 MB   | ##1        |  22%
conda-4.11.0         | 14.4 MB   | ##1        |  22%
conda-4.11.0         | 14.4 MB   | ##1        |  22%
conda-4.11.0         | 14.4 MB   | ##1        |  22%
conda-4.11.0         | 14.4 MB   | ##2        |  22%
conda-4.11.0         | 14.4 MB   | ##2        |  22%
conda-4.11.0         | 14.4 MB   | ##2        |  22%
conda-4.11.0         | 14.4 MB   | ##2        |  23%
conda-4.11.0         | 14.4 MB   | ##2        |  23%
conda-4.11.0         | 14.4 MB   | ##2        |  23%
conda-4.11.0         | 14.4 MB   | ##2        |  23%
conda-4.11.0         | 14.4 MB   | ##3        |  23%
conda-4.11.0         | 14.4 MB   | ##3        |  23%
conda-4.11.0         | 14.4 MB   | ##3        |  23%
conda-4.11.0         | 14.4 MB   | ##3        |  23%
conda-4.11.0         | 14.4 MB   | ##3        |  23%
conda-4.11.0         | 14.4 MB   | ##3        |  24%
conda-4.11.0         | 14.4 MB   | ##3        |  24%
conda-4.11.0         | 14.4 MB   | ##3        |  24%
conda-4.11.0         | 14.4 MB   | ##4        |  24%
Note: you may need to restart the kernel to use updated packages.

conda-4.11.0         | 14.4 MB   | ##4        |  24%
conda-4.11.0         | 14.4 MB   | ##4        |  24%
conda-4.11.0         | 14.4 MB   | ##4        |  24%
conda-4.11.0         | 14.4 MB   | ##4        |  25%
conda-4.11.0         | 14.4 MB   | ##4        |  25%
conda-4.11.0         | 14.4 MB   | ##4        |  25%
conda-4.11.0         | 14.4 MB   | ##4        |  25%
conda-4.11.0         | 14.4 MB   | ##5        |  25%
conda-4.11.0         | 14.4 MB   | ##5        |  25%
conda-4.11.0         | 14.4 MB   | ##5        |  25%
conda-4.11.0         | 14.4 MB   | ##5        |  26%
conda-4.11.0         | 14.4 MB   | ##5        |  26%
conda-4.11.0         | 14.4 MB   | ##5        |  26%
conda-4.11.0         | 14.4 MB   | ##5        |  26%
conda-4.11.0         | 14.4 MB   | ##5        |  26%
conda-4.11.0         | 14.4 MB   | ##6        |  26%
conda-4.11.0         | 14.4 MB   | ##6        |  26%
conda-4.11.0         | 14.4 MB   | ##6        |  26%
conda-4.11.0         | 14.4 MB   | ##6        |  27%
conda-4.11.0         | 14.4 MB   | ##6        |  27%
conda-4.11.0         | 14.4 MB   | ##6        |  27%
conda-4.11.0         | 14.4 MB   | ##7        |  27%
conda-4.11.0         | 14.4 MB   | ##7        |  27%
conda-4.11.0         | 14.4 MB   | ##7        |  27%
conda-4.11.0         | 14.4 MB   | ##7        |  27%
conda-4.11.0         | 14.4 MB   | ##7        |  27%
conda-4.11.0         | 14.4 MB   | ##7        |  28%
conda-4.11.0         | 14.4 MB   | ##7        |  28%
conda-4.11.0         | 14.4 MB   | ##7        |  28%
conda-4.11.0         | 14.4 MB   | ##7        |  28%
conda-4.11.0         | 14.4 MB   | ##8        |  28%
conda-4.11.0         | 14.4 MB   | ##8        |  28%
conda-4.11.0         | 14.4 MB   | ##8        |  28%
conda-4.11.0         | 14.4 MB   | ##8        |  29%
conda-4.11.0         | 14.4 MB   | ##8        |  29%
conda-4.11.0         | 14.4 MB   | ##8        |  29%
conda-4.11.0         | 14.4 MB   | ##8        |  29%
conda-4.11.0         | 14.4 MB   | ##9        |  29%
conda-4.11.0         | 14.4 MB   | ##9        |  29%
conda-4.11.0         | 14.4 MB   | ##9        |  30%
conda-4.11.0         | 14.4 MB   | ##9        |  30%
conda-4.11.0         | 14.4 MB   | ##9        |  30%
conda-4.11.0         | 14.4 MB   | ##9        |  30%
conda-4.11.0         | 14.4 MB   | ###        |  30%
conda-4.11.0         | 14.4 MB   | ###        |  30%
conda-4.11.0         | 14.4 MB   | ###        |  30%
conda-4.11.0         | 14.4 MB   | ###        |  30%
conda-4.11.0         | 14.4 MB   | ###        |  31%
conda-4.11.0         | 14.4 MB   | ###        |  31%
conda-4.11.0         | 14.4 MB   | ###1       |  31%
conda-4.11.0         | 14.4 MB   | ###1       |  31%
conda-4.11.0         | 14.4 MB   | ###1       |  31%
conda-4.11.0         | 14.4 MB   | ###1       |  32%
conda-4.11.0         | 14.4 MB   | ###1       |  32%
conda-4.11.0         | 14.4 MB   | ###1       |  32%
conda-4.11.0         | 14.4 MB   | ###2       |  32%
conda-4.11.0         | 14.4 MB   | ###2       |  32%
conda-4.11.0         | 14.4 MB   | ###2       |  33%
conda-4.11.0         | 14.4 MB   | ###2       |  33%
conda-4.11.0         | 14.4 MB   | ###3       |  33%
conda-4.11.0         | 14.4 MB   | ###3       |  33%
conda-4.11.0         | 14.4 MB   | ###3       |  34%
conda-4.11.0         | 14.4 MB   | ###3       |  34%
conda-4.11.0         | 14.4 MB   | ###3       |  34%
conda-4.11.0         | 14.4 MB   | ###3       |  34%
conda-4.11.0         | 14.4 MB   | ###4       |  34%
conda-4.11.0         | 14.4 MB   | ###4       |  34%
conda-4.11.0         | 14.4 MB   | ###4       |  34%
conda-4.11.0         | 14.4 MB   | ###4       |  35%
conda-4.11.0         | 14.4 MB   | ###4       |  35%
conda-4.11.0         | 14.4 MB   | ###4       |  35%
conda-4.11.0         | 14.4 MB   | ###4       |  35%
conda-4.11.0         | 14.4 MB   | ###5       |  35%
conda-4.11.0         | 14.4 MB   | ###5       |  35%
conda-4.11.0         | 14.4 MB   | ###5       |  36%
conda-4.11.0         | 14.4 MB   | ###5       |  36%
conda-4.11.0         | 14.4 MB   | ###5       |  36%
conda-4.11.0         | 14.4 MB   | ###6       |  36%
conda-4.11.0         | 14.4 MB   | ###6       |  36%
conda-4.11.0         | 14.4 MB   | ###6       |  36%
conda-4.11.0         | 14.4 MB   | ###6       |  36%
conda-4.11.0         | 14.4 MB   | ###6       |  37%
conda-4.11.0         | 14.4 MB   | ###6       |  37%
conda-4.11.0         | 14.4 MB   | ###7       |  37%
conda-4.11.0         | 14.4 MB   | ###7       |  37%
conda-4.11.0         | 14.4 MB   | ###7       |  38%
conda-4.11.0         | 14.4 MB   | ###7       |  38%
conda-4.11.0         | 14.4 MB   | ###7       |  38%
conda-4.11.0         | 14.4 MB   | ###8       |  38%
conda-4.11.0         | 14.4 MB   | ###8       |  38%
conda-4.11.0         | 14.4 MB   | ###8       |  39%
conda-4.11.0         | 14.4 MB   | ###8       |  39%
conda-4.11.0         | 14.4 MB   | ###9       |  39%
conda-4.11.0         | 14.4 MB   | ###9       |  39%
conda-4.11.0         | 14.4 MB   | ###9       |  39%
conda-4.11.0         | 14.4 MB   | ###9       |  39%
conda-4.11.0         | 14.4 MB   | ###9       |  40%
conda-4.11.0         | 14.4 MB   | ###9       |  40%
conda-4.11.0         | 14.4 MB   | ####       |  40%
conda-4.11.0         | 14.4 MB   | ####       |  40%
conda-4.11.0         | 14.4 MB   | ####       |  41%
conda-4.11.0         | 14.4 MB   | ####       |  41%
conda-4.11.0         | 14.4 MB   | ####       |  41%
conda-4.11.0         | 14.4 MB   | ####       |  41%
conda-4.11.0         | 14.4 MB   | ####1      |  41%
conda-4.11.0         | 14.4 MB   | ####1      |  41%
conda-4.11.0         | 14.4 MB   | ####1      |  42%
conda-4.11.0         | 14.4 MB   | ####1      |  42%
conda-4.11.0         | 14.4 MB   | ####1      |  42%
conda-4.11.0         | 14.4 MB   | ####2      |  42%
conda-4.11.0         | 14.4 MB   | ####2      |  42%
conda-4.11.0         | 14.4 MB   | ####2      |  42%
conda-4.11.0         | 14.4 MB   | ####2      |  43%
conda-4.11.0         | 14.4 MB   | ####2      |  43%
conda-4.11.0         | 14.4 MB   | ####3      |  43%
conda-4.11.0         | 14.4 MB   | ####3      |  43%
conda-4.11.0         | 14.4 MB   | ####3      |  43%
conda-4.11.0         | 14.4 MB   | ####3      |  43%
conda-4.11.0         | 14.4 MB   | ####3      |  44%
conda-4.11.0         | 14.4 MB   | ####3      |  44%
conda-4.11.0         | 14.4 MB   | ####3      |  44%
conda-4.11.0         | 14.4 MB   | ####4      |  44%
conda-4.11.0         | 14.4 MB   | ####4      |  44%
conda-4.11.0         | 14.4 MB   | ####4      |  44%
conda-4.11.0         | 14.4 MB   | ####4      |  44%
conda-4.11.0         | 14.4 MB   | ####4      |  45%
conda-4.11.0         | 14.4 MB   | ####4      |  45%
conda-4.11.0         | 14.4 MB   | ####4      |  45%
conda-4.11.0         | 14.4 MB   | ####5      |  45%
conda-4.11.0         | 14.4 MB   | ####5      |  45%
conda-4.11.0         | 14.4 MB   | ####5      |  45%
conda-4.11.0         | 14.4 MB   | ####5      |  45%
conda-4.11.0         | 14.4 MB   | ####5      |  45%
conda-4.11.0         | 14.4 MB   | ####5      |  46%
conda-4.11.0         | 14.4 MB   | ####5      |  46%
conda-4.11.0         | 14.4 MB   | ####5      |  46%
conda-4.11.0         | 14.4 MB   | ####5      |  46%
conda-4.11.0         | 14.4 MB   | ####6      |  46%
conda-4.11.0         | 14.4 MB   | ####6      |  46%
conda-4.11.0         | 14.4 MB   | ####6      |  46%
conda-4.11.0         | 14.4 MB   | ####6      |  46%
conda-4.11.0         | 14.4 MB   | ####6      |  47%
conda-4.11.0         | 14.4 MB   | ####6      |  47%
conda-4.11.0         | 14.4 MB   | ####6      |  47%
conda-4.11.0         | 14.4 MB   | ####7      |  47%
conda-4.11.0         | 14.4 MB   | ####7      |  47%
conda-4.11.0         | 14.4 MB   | ####7      |  47%
conda-4.11.0         | 14.4 MB   | ####7      |  47%
conda-4.11.0         | 14.4 MB   | ####7      |  47%
conda-4.11.0         | 14.4 MB   | ####7      |  48%
conda-4.11.0         | 14.4 MB   | ####7      |  48%
conda-4.11.0         | 14.4 MB   | ####7      |  48%
conda-4.11.0         | 14.4 MB   | ####7      |  48%
conda-4.11.0         | 14.4 MB   | ####8      |  48%
conda-4.11.0         | 14.4 MB   | ####8      |  48%
conda-4.11.0         | 14.4 MB   | ####8      |  48%
conda-4.11.0         | 14.4 MB   | ####8      |  48%
conda-4.11.0         | 14.4 MB   | ####8      |  49%
conda-4.11.0         | 14.4 MB   | ####8      |  49%
conda-4.11.0         | 14.4 MB   | ####8      |  49%
conda-4.11.0         | 14.4 MB   | ####8      |  49%
conda-4.11.0         | 14.4 MB   | ####9      |  49%
conda-4.11.0         | 14.4 MB   | ####9      |  49%
conda-4.11.0         | 14.4 MB   | ####9      |  49%
conda-4.11.0         | 14.4 MB   | ####9      |  50%
conda-4.11.0         | 14.4 MB   | ####9      |  50%
conda-4.11.0         | 14.4 MB   | ####9      |  50%
conda-4.11.0         | 14.4 MB   | #####      |  50%
conda-4.11.0         | 14.4 MB   | #####      |  50%
conda-4.11.0         | 14.4 MB   | #####      |  50%
conda-4.11.0         | 14.4 MB   | #####      |  51%
conda-4.11.0         | 14.4 MB   | #####      |  51%
conda-4.11.0         | 14.4 MB   | #####1     |  51%
conda-4.11.0         | 14.4 MB   | #####1     |  51%
conda-4.11.0         | 14.4 MB   | #####1     |  51%
conda-4.11.0         | 14.4 MB   | #####1     |  51%
conda-4.11.0         | 14.4 MB   | #####1     |  52%
conda-4.11.0         | 14.4 MB   | #####1     |  52%
conda-4.11.0         | 14.4 MB   | #####1     |  52%
conda-4.11.0         | 14.4 MB   | #####1     |  52%
conda-4.11.0         | 14.4 MB   | #####2     |  52%
conda-4.11.0         | 14.4 MB   | #####2     |  52%
conda-4.11.0         | 14.4 MB   | #####2     |  52%
conda-4.11.0         | 14.4 MB   | #####2     |  53%
conda-4.11.0         | 14.4 MB   | #####2     |  53%
conda-4.11.0         | 14.4 MB   | #####2     |  53%
conda-4.11.0         | 14.4 MB   | #####2     |  53%
conda-4.11.0         | 14.4 MB   | #####3     |  53%
conda-4.11.0         | 14.4 MB   | #####3     |  53%
conda-4.11.0         | 14.4 MB   | #####3     |  53%
conda-4.11.0         | 14.4 MB   | #####3     |  53%
conda-4.11.0         | 14.4 MB   | #####3     |  53%
conda-4.11.0         | 14.4 MB   | #####3     |  54%
conda-4.11.0         | 14.4 MB   | #####3     |  54%
conda-4.11.0         | 14.4 MB   | #####3     |  54%
conda-4.11.0         | 14.4 MB   | #####3     |  54%
conda-4.11.0         | 14.4 MB   | #####4     |  54%
conda-4.11.0         | 14.4 MB   | #####4     |  54%
conda-4.11.0         | 14.4 MB   | #####4     |  54%
conda-4.11.0         | 14.4 MB   | #####4     |  55%
conda-4.11.0         | 14.4 MB   | #####4     |  55%
conda-4.11.0         | 14.4 MB   | #####4     |  55%
conda-4.11.0         | 14.4 MB   | #####5     |  55%
conda-4.11.0         | 14.4 MB   | #####5     |  55%
conda-4.11.0         | 14.4 MB   | #####5     |  55%
conda-4.11.0         | 14.4 MB   | #####5     |  56%
conda-4.11.0         | 14.4 MB   | #####5     |  56%
conda-4.11.0         | 14.4 MB   | #####5     |  56%
conda-4.11.0         | 14.4 MB   | #####6     |  56%
conda-4.11.0         | 14.4 MB   | #####6     |  56%
conda-4.11.0         | 14.4 MB   | #####6     |  56%
conda-4.11.0         | 14.4 MB   | #####6     |  57%
conda-4.11.0         | 14.4 MB   | #####6     |  57%
conda-4.11.0         | 14.4 MB   | #####6     |  57%
conda-4.11.0         | 14.4 MB   | #####6     |  57%
conda-4.11.0         | 14.4 MB   | #####7     |  57%
conda-4.11.0         | 14.4 MB   | #####7     |  57%
conda-4.11.0         | 14.4 MB   | #####7     |  57%
conda-4.11.0         | 14.4 MB   | #####7     |  58%
conda-4.11.0         | 14.4 MB   | #####7     |  58%
conda-4.11.0         | 14.4 MB   | #####7     |  58%
conda-4.11.0         | 14.4 MB   | #####8     |  58%
conda-4.11.0         | 14.4 MB   | #####8     |  58%
conda-4.11.0         | 14.4 MB   | #####8     |  58%
conda-4.11.0         | 14.4 MB   | #####8     |  58%
conda-4.11.0         | 14.4 MB   | #####8     |  59%
conda-4.11.0         | 14.4 MB   | #####8     |  59%
conda-4.11.0         | 14.4 MB   | #####8     |  59%
conda-4.11.0         | 14.4 MB   | #####8     |  59%
conda-4.11.0         | 14.4 MB   | #####9     |  59%
conda-4.11.0         | 14.4 MB   | #####9     |  59%
conda-4.11.0         | 14.4 MB   | #####9     |  60%
conda-4.11.0         | 14.4 MB   | #####9     |  60%
conda-4.11.0         | 14.4 MB   | ######     |  60%
conda-4.11.0         | 14.4 MB   | ######     |  61%
conda-4.11.0         | 14.4 MB   | ######     |  61%
conda-4.11.0         | 14.4 MB   | ######1    |  61%
conda-4.11.0         | 14.4 MB   | ######1    |  62%
conda-4.11.0         | 14.4 MB   | ######1    |  62%
conda-4.11.0         | 14.4 MB   | ######1    |  62%
conda-4.11.0         | 14.4 MB   | ######2    |  62%
conda-4.11.0         | 14.4 MB   | ######2    |  63%
conda-4.11.0         | 14.4 MB   | ######2    |  63%
conda-4.11.0         | 14.4 MB   | ######3    |  63%
conda-4.11.0         | 14.4 MB   | ######3    |  63%
conda-4.11.0         | 14.4 MB   | ######3    |  64%
conda-4.11.0         | 14.4 MB   | ######3    |  64%
conda-4.11.0         | 14.4 MB   | ######4    |  64%
conda-4.11.0         | 14.4 MB   | ######4    |  64%
conda-4.11.0         | 14.4 MB   | ######4    |  64%
conda-4.11.0         | 14.4 MB   | ######4    |  64%
conda-4.11.0         | 14.4 MB   | ######4    |  65%
conda-4.11.0         | 14.4 MB   | ######4    |  65%
conda-4.11.0         | 14.4 MB   | ######4    |  65%
conda-4.11.0         | 14.4 MB   | ######5    |  65%
conda-4.11.0         | 14.4 MB   | ######5    |  65%
conda-4.11.0         | 14.4 MB   | ######5    |  66%
conda-4.11.0         | 14.4 MB   | ######5    |  66%
conda-4.11.0         | 14.4 MB   | ######6    |  66%
conda-4.11.0         | 14.4 MB   | ######6    |  67%
conda-4.11.0         | 14.4 MB   | ######6    |  67%
conda-4.11.0         | 14.4 MB   | ######6    |  67%
conda-4.11.0         | 14.4 MB   | ######6    |  67%
conda-4.11.0         | 14.4 MB   | ######7    |  67%
conda-4.11.0         | 14.4 MB   | ######7    |  67%
conda-4.11.0         | 14.4 MB   | ######7    |  67%
conda-4.11.0         | 14.4 MB   | ######7    |  68%
conda-4.11.0         | 14.4 MB   | ######7    |  68%
conda-4.11.0         | 14.4 MB   | ######7    |  68%
conda-4.11.0         | 14.4 MB   | ######8    |  68%
conda-4.11.0         | 14.4 MB   | ######8    |  68%
conda-4.11.0         | 14.4 MB   | ######8    |  68%
conda-4.11.0         | 14.4 MB   | ######8    |  69%
conda-4.11.0         | 14.4 MB   | ######8    |  69%
conda-4.11.0         | 14.4 MB   | ######9    |  69%
conda-4.11.0         | 14.4 MB   | ######9    |  69%
conda-4.11.0         | 14.4 MB   | ######9    |  70%
conda-4.11.0         | 14.4 MB   | ######9    |  70%
conda-4.11.0         | 14.4 MB   | ######9    |  70%
conda-4.11.0         | 14.4 MB   | #######    |  70%
conda-4.11.0         | 14.4 MB   | #######    |  70%
conda-4.11.0         | 14.4 MB   | #######    |  71%
conda-4.11.0         | 14.4 MB   | #######    |  71%
conda-4.11.0         | 14.4 MB   | #######    |  71%
conda-4.11.0         | 14.4 MB   | #######1   |  71%
conda-4.11.0         | 14.4 MB   | #######1   |  71%
conda-4.11.0         | 14.4 MB   | #######1   |  72%
conda-4.11.0         | 14.4 MB   | #######1   |  72%
conda-4.11.0         | 14.4 MB   | #######1   |  72%
conda-4.11.0         | 14.4 MB   | #######2   |  72%
conda-4.11.0         | 14.4 MB   | #######2   |  72%
conda-4.11.0         | 14.4 MB   | #######2   |  72%
conda-4.11.0         | 14.4 MB   | #######2   |  73%
conda-4.11.0         | 14.4 MB   | #######2   |  73%
conda-4.11.0         | 14.4 MB   | #######3   |  73%
conda-4.11.0         | 14.4 MB   | #######3   |  74%
conda-4.11.0         | 14.4 MB   | #######3   |  74%
conda-4.11.0         | 14.4 MB   | #######4   |  74%

conda-4.11.0         | 14.4 MB   | #######4   |  74%
conda-4.11.0         | 14.4 MB   | #######4   |  75%
conda-4.11.0         | 14.4 MB   | #######4   |  75%
conda-4.11.0         | 14.4 MB   | #######4   |  75%
conda-4.11.0         | 14.4 MB   | #######5   |  75%
conda-4.11.0         | 14.4 MB   | #######5   |  75%
conda-4.11.0         | 14.4 MB   | #######5   |  76%
conda-4.11.0         | 14.4 MB   | #######5   |  76%
conda-4.11.0         | 14.4 MB   | #######5   |  76%
conda-4.11.0         | 14.4 MB   | #######6   |  76%
conda-4.11.0         | 14.4 MB   | #######6   |  76%
conda-4.11.0         | 14.4 MB   | #######6   |  76%
conda-4.11.0         | 14.4 MB   | #######6   |  76%
conda-4.11.0         | 14.4 MB   | #######6   |  76%
conda-4.11.0         | 14.4 MB   | #######6   |  77%
conda-4.11.0         | 14.4 MB   | #######6   |  77%
conda-4.11.0         | 14.4 MB   | #######6   |  77%
conda-4.11.0         | 14.4 MB   | #######7   |  77%
conda-4.11.0         | 14.4 MB   | #######7   |  77%
conda-4.11.0         | 14.4 MB   | #######7   |  77%
conda-4.11.0         | 14.4 MB   | #######7   |  78%
conda-4.11.0         | 14.4 MB   | #######7   |  78%
conda-4.11.0         | 14.4 MB   | #######7   |  78%
conda-4.11.0         | 14.4 MB   | #######8   |  78%
conda-4.11.0         | 14.4 MB   | #######8   |  78%
conda-4.11.0         | 14.4 MB   | #######8   |  79%
conda-4.11.0         | 14.4 MB   | #######8   |  79%
conda-4.11.0         | 14.4 MB   | #######8   |  79%
conda-4.11.0         | 14.4 MB   | #######9   |  79%
conda-4.11.0         | 14.4 MB   | #######9   |  79%
conda-4.11.0         | 14.4 MB   | #######9   |  79%
conda-4.11.0         | 14.4 MB   | #######9   |  80%
conda-4.11.0         | 14.4 MB   | #######9   |  80%
conda-4.11.0         | 14.4 MB   | #######9   |  80%
conda-4.11.0         | 14.4 MB   | #######9   |  80%
conda-4.11.0         | 14.4 MB   | ########   |  80%
conda-4.11.0         | 14.4 MB   | ########   |  80%
conda-4.11.0         | 14.4 MB   | ########   |  80%
conda-4.11.0         | 14.4 MB   | ########   |  81%
conda-4.11.0         | 14.4 MB   | ########   |  81%
conda-4.11.0         | 14.4 MB   | ########1  |  81%
conda-4.11.0         | 14.4 MB   | ########1  |  81%
conda-4.11.0         | 14.4 MB   | ########1  |  81%
conda-4.11.0         | 14.4 MB   | ########1  |  81%
conda-4.11.0         | 14.4 MB   | ########1  |  82%
conda-4.11.0         | 14.4 MB   | ########1  |  82%
conda-4.11.0         | 14.4 MB   | ########2  |  82%
conda-4.11.0         | 14.4 MB   | ########2  |  82%
conda-4.11.0         | 14.4 MB   | ########2  |  82%
conda-4.11.0         | 14.4 MB   | ########2  |  83%
conda-4.11.0         | 14.4 MB   | ########2  |  83%
conda-4.11.0         | 14.4 MB   | ########2  |  83%
conda-4.11.0         | 14.4 MB   | ########3  |  83%
conda-4.11.0         | 14.4 MB   | ########3  |  83%
conda-4.11.0         | 14.4 MB   | ########3  |  83%
conda-4.11.0         | 14.4 MB   | ########3  |  84%
conda-4.11.0         | 14.4 MB   | ########3  |  84%
conda-4.11.0         | 14.4 MB   | ########3  |  84%
conda-4.11.0         | 14.4 MB   | ########3  |  84%
conda-4.11.0         | 14.4 MB   | ########3  |  84%
conda-4.11.0         | 14.4 MB   | ########4  |  84%
conda-4.11.0         | 14.4 MB   | ########4  |  84%
conda-4.11.0         | 14.4 MB   | ########4  |  84%
conda-4.11.0         | 14.4 MB   | ########4  |  84%
conda-4.11.0         | 14.4 MB   | ########4  |  85%
conda-4.11.0         | 14.4 MB   | ########4  |  85%
conda-4.11.0         | 14.4 MB   | ########4  |  85%
conda-4.11.0         | 14.4 MB   | ########5  |  85%
conda-4.11.0         | 14.4 MB   | ########5  |  85%
conda-4.11.0         | 14.4 MB   | ########5  |  85%
conda-4.11.0         | 14.4 MB   | ########5  |  85%
conda-4.11.0         | 14.4 MB   | ########5  |  85%
conda-4.11.0         | 14.4 MB   | ########5  |  86%
conda-4.11.0         | 14.4 MB   | ########5  |  86%
conda-4.11.0         | 14.4 MB   | ########5  |  86%
conda-4.11.0         | 14.4 MB   | ########6  |  86%
conda-4.11.0         | 14.4 MB   | ########6  |  86%
conda-4.11.0         | 14.4 MB   | ########6  |  86%
conda-4.11.0         | 14.4 MB   | ########6  |  87%
conda-4.11.0         | 14.4 MB   | ########6  |  87%
conda-4.11.0         | 14.4 MB   | ########6  |  87%
conda-4.11.0         | 14.4 MB   | ########6  |  87%
conda-4.11.0         | 14.4 MB   | ########7  |  87%
conda-4.11.0         | 14.4 MB   | ########7  |  87%
conda-4.11.0         | 14.4 MB   | ########7  |  88%
conda-4.11.0         | 14.4 MB   | ########7  |  88%
conda-4.11.0         | 14.4 MB   | ########7  |  88%
conda-4.11.0         | 14.4 MB   | ########7  |  88%
conda-4.11.0         | 14.4 MB   | ########8  |  88%
conda-4.11.0         | 14.4 MB   | ########8  |  88%
conda-4.11.0         | 14.4 MB   | ########8  |  88%
conda-4.11.0         | 14.4 MB   | ########8  |  89%
conda-4.11.0         | 14.4 MB   | ########8  |  89%
conda-4.11.0         | 14.4 MB   | ########8  |  89%
conda-4.11.0         | 14.4 MB   | ########8  |  89%
conda-4.11.0         | 14.4 MB   | ########9  |  89%
conda-4.11.0         | 14.4 MB   | ########9  |  89%
conda-4.11.0         | 14.4 MB   | ########9  |  89%
conda-4.11.0         | 14.4 MB   | ########9  |  90%
conda-4.11.0         | 14.4 MB   | ########9  |  90%
conda-4.11.0         | 14.4 MB   | #########  |  90%
conda-4.11.0         | 14.4 MB   | #########  |  90%
conda-4.11.0         | 14.4 MB   | #########  |  91%
conda-4.11.0         | 14.4 MB   | #########1 |  91%
conda-4.11.0         | 14.4 MB   | #########1 |  91%
conda-4.11.0         | 14.4 MB   | #########1 |  91%
conda-4.11.0         | 14.4 MB   | #########1 |  92%
conda-4.11.0         | 14.4 MB   | #########1 |  92%
conda-4.11.0         | 14.4 MB   | #########1 |  92%
conda-4.11.0         | 14.4 MB   | #########2 |  92%
conda-4.11.0         | 14.4 MB   | #########2 |  92%
conda-4.11.0         | 14.4 MB   | #########2 |  92%
conda-4.11.0         | 14.4 MB   | #########2 |  93%
conda-4.11.0         | 14.4 MB   | #########2 |  93%
conda-4.11.0         | 14.4 MB   | #########2 |  93%
conda-4.11.0         | 14.4 MB   | #########3 |  93%
conda-4.11.0         | 14.4 MB   | #########3 |  93%
conda-4.11.0         | 14.4 MB   | #########3 |  93%
conda-4.11.0         | 14.4 MB   | #########3 |  93%
conda-4.11.0         | 14.4 MB   | #########3 |  93%
conda-4.11.0         | 14.4 MB   | #########3 |  94%
conda-4.11.0         | 14.4 MB   | #########3 |  94%
conda-4.11.0         | 14.4 MB   | #########4 |  94%
conda-4.11.0         | 14.4 MB   | #########4 |  94%
conda-4.11.0         | 14.4 MB   | #########4 |  95%
conda-4.11.0         | 14.4 MB   | #########4 |  95%
conda-4.11.0         | 14.4 MB   | #########4 |  95%
conda-4.11.0         | 14.4 MB   | #########4 |  95%
conda-4.11.0         | 14.4 MB   | #########5 |  95%
conda-4.11.0         | 14.4 MB   | #########5 |  95%
conda-4.11.0         | 14.4 MB   | #########5 |  95%
conda-4.11.0         | 14.4 MB   | #########5 |  96%
conda-4.11.0         | 14.4 MB   | #########5 |  96%
conda-4.11.0         | 14.4 MB   | #########5 |  96%
conda-4.11.0         | 14.4 MB   | #########5 |  96%
conda-4.11.0         | 14.4 MB   | #########6 |  96%
conda-4.11.0         | 14.4 MB   | #########6 |  96%
conda-4.11.0         | 14.4 MB   | #########6 |  96%
conda-4.11.0         | 14.4 MB   | #########6 |  97%
conda-4.11.0         | 14.4 MB   | #########6 |  97%
conda-4.11.0         | 14.4 MB   | #########6 |  97%
conda-4.11.0         | 14.4 MB   | #########6 |  97%
conda-4.11.0         | 14.4 MB   | #########7 |  97%
conda-4.11.0         | 14.4 MB   | #########7 |  97%
conda-4.11.0         | 14.4 MB   | #########7 |  97%
conda-4.11.0         | 14.4 MB   | #########7 |  97%
conda-4.11.0         | 14.4 MB   | #########7 |  97%
conda-4.11.0         | 14.4 MB   | #########7 |  98%
conda-4.11.0         | 14.4 MB   | #########7 |  98%
conda-4.11.0         | 14.4 MB   | #########7 |  98%
conda-4.11.0         | 14.4 MB   | #########7 |  98%
conda-4.11.0         | 14.4 MB   | #########8 |  98%
conda-4.11.0         | 14.4 MB   | #########8 |  98%
conda-4.11.0         | 14.4 MB   | #########8 |  98%
conda-4.11.0         | 14.4 MB   | #########8 |  98%
conda-4.11.0         | 14.4 MB   | #########8 |  99%
conda-4.11.0         | 14.4 MB   | #########8 |  99%
conda-4.11.0         | 14.4 MB   | #########9 |  99%
conda-4.11.0         | 14.4 MB   | #########9 |  99%
conda-4.11.0         | 14.4 MB   | #########9 |  99%
conda-4.11.0         | 14.4 MB   | #########9 |  99%
conda-4.11.0         | 14.4 MB   | #########9 | 100%
conda-4.11.0         | 14.4 MB   | #########9 | 100%
conda-4.11.0         | 14.4 MB   | #########9 | 100%
conda-4.11.0         | 14.4 MB   | ########## | 100%
conda-4.11.0         | 14.4 MB   | ########## | 100%

xmltodict-0.12.0     | 13 KB     |            |   0%
xmltodict-0.12.0     | 13 KB     | ########## | 100%
xmltodict-0.12.0     | 13 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done